header {
  align-items: left;
}

a {
  font-family: 'Funnel Sans';
  color: #1c1c1c;
  font-weight: normal;
  padding-right: 2%;
}

body {
  font-family: 'Funnel Sans';
  margin: 80px;
  }

h1 {
  color: #28503c;
  font-family: 'Funnel Sans';
  font-weight: medium;
  font-size: 62px;
  text-align: center;
}

h2 {
  color: #28503c;
  font-family: 'Funnel Sans';
  font-weight: medium;
  font-size: 32px;
  text-align: center;
}

h3 {
  color: #28503c;
  font-family: 'Funnel Sans';
  font-weight: normal;
  font-size: 40px;
  text-align: center;
}

p {
  color: #1c1c1c;
  font-family: 'Funnel Sans';
  font-weight: normal;
  font-size: 16px;     
  margin-left: 110px; 
  margin-right: 110px;
}

ul {
  margin-left: 110px;
  margin-top: auto;
  margin-right: 130px;
}

ol {
  margin-left: 100px;
  margin-right: 130px;
  margin-top: auto;
}

li {
  padding-top: 5px;
  margin: auto;
}

:root {
  background-color: #fffef7;
}

#root {
  width: 100%;
}


